@model MyWorld.Models.Country

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Country - @Model.CountryName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Continent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Continent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capital)
        </dd>

    </dl>
</div>
@{ 
    Html.RenderAction("CitiesInCountry", new { id = Model.Id });
}
<p style="margin-top:20px;">
    Всего городов в стране <b>@Model.CountryName</b>: @Model.Cities.Count
</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
